{{ 'hero-section-left.css' |  asset_url | stylesheet_tag }}


<section class="hero-left">
  <div class="hero__content">
    <h1 class="hero__title">{{ section.settings.upper_title }}</h1>
    <h1>{{ section.settings.lower_title }}</h1>
    <p class="hero__subtitle">{{ section.settings.description }}</p>
  </div>
</section>


{%  schema  %}  
{
  "name": "Hero Section Left",
  "settings": [
    {
      "type": "text",
      "id": "upper_title",
      "label": "Upper Title",
      "default": "Welcome to Our Store"
    },
    {
      "type": "text",
      "id": "lower_title",
      "label": "Lower Title",
      "default": "Discover the best products just for you"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Explore our wide range of products tailored to your needs."
    }
  ]

}
{% endschema %}