* {
    margin: 0;
    padding: 0;
}
.hero-section-left {
    background-color: #000000;
}

.hero-left {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.hero-content {
  margin-left: 40px;
  max-width: 600px;
}

.upper-title {
  color: #d51a1a;
  margin: 10px 0;
  font-size: 48px;
  font-weight: bold;
}

.lower-title {
  color: #ffffff;
  margin: 10px 0;
  font-size: 48px;
  font-weight: bold;
}

.description {
  color: #ffffff;
  margin: 10px 0;
}

.hero-btn {
    background-color: #d51a1a;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}