* {
    margin: 0;
    padding: 0;
}
.hero-section-left {
    background-color: #000000;
}

.hero-left {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 90vh;
}

.hero-content {
  margin-left: 70px;
  max-width: 600px;
  grid-area: 1 / 1 / 6 / 3;
  display: flex;
  align-items: center;

}



.right-content-test {
    grid-area: 1 / 3 / 6 / 6;
}

.upper-title {
  color: #d51a1a;
  margin: 10px 0;
  font-size: 48px;
  font-weight: bold;
}

.lower-title {
  color: #ffffff;
  margin: 10px 0;
  font-size: 48px;
  font-weight: bold;
}

.description {
  color: #ffffff;
  margin: 10px 0;
}

.hero-btn {
    background-color: #d51a1a;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}